.transactions {
  display: grid;
  grid-template-columns: repeat(4, 400px);
  justify-content: center;
  gap: 4rem;
  >.transaction {
    background-color: var(--light-grey);
    padding: 2rem;
    min-height: 300px;

    >.header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 4rem;

      >.title {
        font-size: 2rem;
        text-transform: uppercase;
      }

      >.btn {
        background-color: var(--light-blue);
        color: var(--blue);
      }
    }

    >.sql {
      >.field {
        margin-bottom: 2rem;
        display: flex;

        label {
          margin-right: 1rem;
          color: var(--grey);

          &:nth-of-type(2) {
           margin-left: 1rem;
          }
        }

        input {
          padding: 0.5rem;
          color: var(--grey);
          width: 100%;
        }
      }

      >.submit {
        margin-top: 4rem;
        padding-left: 2rem;
        padding-right: 2rem;
        background-color: var(--light-green);
        color: var(--green);
      }
    }
  }
}